repos:

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: check-executables-have-shebangs
      - id: check-illegal-windows-names

  # Formatter (ruff)
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: uv run ruff format
        language: system
        types: [python]

  # Linter (ruff)
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: uv run ruff check
        language: system
        types: [python]

  # Import sorter (isort)
  - repo: local
    hooks:
      - id: isort
        name: isort
        entry: uv run isort
        language: system
        types: [python]

  # Type checker (mypy)
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: uv run mypy
        language: system
        types: [python]

  # Strict code formatter (Black)
  - repo: local
    hooks:
      - id: black
        name: black
        entry: uv run black
        language: system
        types: [python]

  # Typo checker (typos)
  - repo: local
    hooks:
      - id: typos
        name: typos
        entry: uv run typos
        language: system
        types: [python]

  # Run tests (pytest)
  - repo: local
    hooks:
      - id: pytest
        name: pytest
        entry: uv run pytest
        language: system
        types: [python]
        pass_filenames: false  # this tells pre-commit not to pass file names
